@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.debug {
    border: solid 1px red;
}

.inter-title {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.inter {
    font-family: "Inter", sans-serif;
}

.nt-serif {
    font-family: "Noto Serif", serif;
}

.jbm-username {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.jbm {
    font-family: "JetBrains Mono", monospace;
}

.force-inline-block {
    display: inline-block;
}

.breaker {
    padding-top: 20px;
    width: 100%;
}